<div *ngIf="character">
  <h3 class="title">EDIT YOUR CHARACTER</h3>
  <form [formGroup]="characterForm">
    <div *ngFor="let control of fbGroupData | keyvalue">
      <label
        *ngIf="
          control.key !== 'image' &&
          control.key !== 'idGame' &&
          control.key !== '_id' &&
          control.key !== 'player' &&
          control.key !== 'name' &&
          control.key !== 'description'
        "
        class="capitalize"
        for=""
        >{{ control.key }}</label
      >
      <input
        *ngIf="
          control.key !== 'image' &&
          control.key !== 'idGame' &&
          control.key !== '_id' &&
          control.key !== 'player' &&
          control.key !== 'name' &&
          control.key !== 'description'
        "
        class="editChar__input capitalize"
        type="text"
        name="{{ control.key }}"
        placeholder="{{ characterForm.get(control.key)?.value }}"
        [formControlName]="control.key"
        [value]="characterForm.get(control.key)?.value"
      />
    </div>

    <button (click)="handleEdit()">EDIT</button>
  </form>
</div>
