<div *ngIf="character">
  <img
    class="CharImg"
    src="{{ character?.image }}"
    alt="Foto del personaje {{ character.name }}"
  />
  <form [formGroup]="characterForm">
    <div *ngFor="let control of fbGroupData | keyvalue">
      <label
        *ngIf="
          control.key !== 'image' &&
          control.key !== 'idGame' &&
          control.key !== '_id' &&
          control.key !== 'player' &&
          control.key !== 'name'
        "
        class="capitalize"
        for=""
        >{{ control.key }}</label
      >
      <input
        *ngIf="
          control.key !== 'image' &&
          control.key !== 'idGame' &&
          control.key !== '_id' &&
          control.key !== 'player' &&
          control.key !== 'name'
        "
        class="editChar__input capitalize"
        type="text"
        name="{{ control.key }}"
        placeholder="{{ characterForm.get(control.key)?.value }}"
        [formControlName]="control.key"
        [value]="characterForm.get(control.key)?.value"
      />
    </div>

    <button>EDIT</button>
  </form>
</div>
