<div class="clash-card l5a" (click)="detailCharPage()">
  <div class="clash-card__image clash-card__image--l5a">
    <img src="{{ character.image }}" alt="l5a" />
  </div>
  <div class="clash-card__lifebar" [ngSwitch]="character.life">
    <div *ngSwitchCase="20" class="clash-card__lifebar--top"></div>
    <div *ngSwitchCase="10" class="clash-card__lifebar--mid"></div>
    <div *ngSwitchDefault class="clash-card__lifebar--low"></div>
    <div class="clash-card__level clash-card__level--l5a">
      {{ character.life }}
    </div>
  </div>
  <div class="clash-card__unit-name">{{ character.name }}</div>
  <div class="clash-card__unit-description">
    {{ character.description }}
  </div>

  <div class="clash-card__unit-stats clash-card__unit-stats--l5a clearfix">
    <div class="one-third">
      <div class="stat">{{ character.strength }}</div>
      <div class="stat-value">Str</div>
    </div>

    <div class="one-third">
      <div class="stat">{{ character.intelligence }}</div>
      <div class="stat-value">Int</div>
    </div>

    <div class="one-third no-border">
      <div class="stat">{{ character.constitution }}</div>
      <div class="stat-value">Const</div>
    </div>
  </div>
</div>
