@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  font-family: "Macondo", cursive;
}

.createCharForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageGame {
  width: 20rem;
}

.createChar__input {
  margin: 0.5rem;
}
