div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 60vw;
}

p {
  margin-top: 1.5rem;
  width: 90vw;
}

.link {
  font-weight: 600;
  cursor: pointer;
}
