@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  margin: 0;
}

nav {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

img {
  font-family: "Macondo", cursive;
  background: none;
  margin: 0;
  width: 2.5rem;
}

ul {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
