@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li button {
  font-family: "Macondo", cursive;
  border: none;
  background: none;
}
