<div class="clash-card l5a" *ngIf="character">
  <p class="clash-card__title">DETAILS</p>
  <div class="clash-card__unit-name">{{ character.name }}</div>

  <div class="clash-card__unit-stats clash-card__unit-stats--l5a clearfix">
    <div *ngFor="let property of character | keyvalue" class="one-third">
      <div
        class="capitalize"
        *ngIf="
          property.key !== 'image' &&
          property.key !== 'idGame' &&
          property.key !== '_id' &&
          property.key !== 'player' &&
          property.key !== 'name' &&
          property.key !== 'description'
        "
      >
        <span class="properties">{{ property.key }}: </span>
        <span class="properties">{{ property.value }}</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button (click)="handleUpdate()">Update</button>
    <button (click)="handleDelete()">Delete</button>
  </div>
</div>
