@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(140, 122, 122, 1) 0%,
      rgba(175, 135, 124, 1) 65%,
      rgba(175, 135, 124, 1) 100%
    )
    fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Macondo", cursive;
  color: #9e9e9e;
  margin-top: 30px;
}

.clash-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  background: url("https://i.pinimg.com/564x/88/37/a6/8837a69bcf30bd8a428f9b6bb9d22e48.jpg");
}

.clash-card__title {
  font-family: "Macondo", cursive;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 0.2rem solid;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.clash-card__unit-name {
  font-size: 1.5rem;
  color: black;
  font-family: "Macondo", cursive;
  font-weight: 900;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.buttons button {
  background-color: rgb(72, 51, 31);
}

.clash-card__unit-stats {
  color: rgb(75, 66, 66);
  font-family: "Macondo", cursive;
  font-weight: 700;
  margin-bottom: 1.2rem;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.clash-card__unit-stats .one-third {
  width: 100%;
  float: left;
  padding: 0px 15px;
  margin-top: 0.5rem;
}

.clash-card__unit-stats .one-third .capitalize {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
}

.clash-card__unit-stats .stat {
  position: relative;
  font-family: "Macondo", cursive;
  font-size: 24px;
}

.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-size: 12px;
}

.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
