<div class="card-container">
  <div class="user-card-item" *ngIf="user">
    <div class="user-card">
      <div class="user-card-pb card__image--fence"></div>
      <div class="user-card-img"></div>
      <div class="user-card-cont">
        <div class="user-card-title">{{ user.name }}</div>
        <p class="user-id">{{ user.role }}</p>
        <p class="user-card-text">{{ user.email }}</p>
      </div>
      <div class="btn-row">
        <button>EDIT</button>
        <button>DELETE</button>
      </div>
    </div>
  </div>
</div>
