@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");
body {
  color: #999999;
  font-family: "Macondo", cursive;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.card-container {
  margin: 0;
  padding: 0;
}

.user-card-item {
  margin-top: 2rem;
  margin-left: 1rem;
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.user-card {
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.user-card-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  padding-top: 60px;
  padding-bottom: 2vw;
}
.user-card-pb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 4px solid white;
  width: 140px;
  height: 140px;
  right: 50%;
  top: 13%;
  margin-right: -74px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
}

.user-card-title {
  text-align: center;
  color: #696969;
  font-family: "Macondo", cursive;
  font-size: 1.65rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 1rem;
  line-height: 14px;
}
.user-id {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.user-card-text {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: "Macondo", cursive;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  padding-top: 1rem;
}

.btn-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.btn-row button {
  border: none;
  background-color: #231750;
  padding: 15px 0px;
  width: 100%;
  font-family: "Macondo", cursive;
  color: white;
  letter-spacing: 2.4px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.btn-row button:hover {
  background-color: #474747;
  color: white;
}

.user-card-img {
  width: 100%;
  height: 140px;
  background-color: #78909c;
  background-position: center center;
  background-size: cover;
  background-image: url(https://c.wallhere.com/photos/60/9f/3840x2160_px_action_artwork_Elder_fantasy_Fighting_mmo_online-1810627.jpg!d);
}
