body {
  color: #999999;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  flex-basis: 200px;
  max-width: 350px;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.user-card {
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.user-card-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  padding-top: 60px;
  padding-bottom: 2vw;
}
.user-card-pb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid white;
  width: 140px;
  height: 140px;
  right: 50%;
  top: 13%;
  margin-right: -74px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
}

.card__image--fence {
  background-image: url(https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg);
}
.user-card-title {
  text-align: center;
  color: #696969;
  font-size: 1.65rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 13px;
  line-height: 14px;
}
.user-card-text {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.btn-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.btn-row button {
  border: none;
  background-color: #f2f2f2;
  padding: 15px 0px;
  width: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  letter-spacing: 2.4px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.btn-row button:hover {
  background-color: #474747;
  color: white;
}

.user-id {
  font-size: 0.7rem;
  text-align: center;
}

.user-card-img {
  width: 100%;
  height: 140px;
  background-color: #78909c;
  background-position: center center;
  background-size: cover;
  background-image: url(https://wallpapershome.com/images/pages/pic_hs/181.jpg);
}
