@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  margin: 0;
  font-family: "Macondo", cursive;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameImg {
  max-width: 100%;
}

.gameTitle {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.gameCreator {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.gameDescription {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
