@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  margin: 0;
  font-family: "Macondo", cursive;
}
.game-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 12rem;
  height: 18rem;
}

/* .gameImg {
  object-fit: fill;
} */

.gameTitle {
  font-size: 1.5rem;
}
