<ng-container *ngIf="redirigir; else characterPage">
  <button (click)="detailPage()">
    <img
      class="gameImg"
      src="{{ game.image }}"
      alt="Foto del juego {{ game.title }}"
    />
  </button>
  <h2 class="gameTitle">{{ game.title }}</h2>
</ng-container>
<ng-template #characterPage>
  <button (click)="charPage()">
    <img
      class="gameImg"
      src="{{ game.image }}"
      alt="Foto del juego {{ game.title }}"
    />
  </button>
  <h2 class="gameTitle">{{ game.title }}</h2>
</ng-template>
