@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  margin: 0;
  font-family: "Macondo", cursive;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: 0;
  color: inherit;
}

.gameImg {
}

.gameTitle {
  font-size: 1.5rem;
}
