@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Macondo&display=swap");

* {
  margin: 0;
  font-family: "Macondo", cursive;
}
.game-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 12rem;
}

.gameImg {
  border-radius: 20px;
}

.gameTitle {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1rem;
}

.gameTitle__players {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
