<ng-container *ngIf="redirigir; else characterPage">
  <div class="game-block">
    <div class="image-container">
      <img
        role="button"
        class="gameImg"
        src="{{ game.image }}"
        alt="Foto del juego {{ game.title }}"
        (click)="detailPage()"
      />
    </div>
    <h2 class="gameTitle">{{ game.title }}</h2>
  </div>
</ng-container>
<ng-template #characterPage>
  <div class="game-block">
    <div class="image-container">
      <img
        role="button"
        class="gameImg"
        src="{{ game.image }}"
        alt="Foto del juego {{ game.title }}"
        (click)="charPage()"
      />
    </div>
    <h2 class="gameTitle__players">{{ game.title }}</h2>
  </div>
</ng-template>
