<form class="register" (submit)="handleSubmit()">
  <input
    name="name"
    class="register__input"
    type="text"
    placeholder="name"
    [(ngModel)]="dataUser.name"
  />
  <input
    name="email"
    class="register__input"
    type="email"
    placeholder="email"
    [(ngModel)]="dataUser.email"
    required
  />
  <input
    name="password"
    class="register__input"
    type="password"
    placeholder="password"
    [(ngModel)]="dataUser.password"
    required
  />
  <button (click)="handleSubmit()" type="submit" class="register__submit">
    Register
  </button>
</form>
